POSTGRES_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
GOOGLE_CALLBACK_URL=
PORT=
NODE_ENV=
REFRESH_TOKEN_SECRET=
DATA_ENCRYPTION_KEY=
JWT_REFRESH_EXPIRES_IN_MS=
DB_SSL_REJECT_UNAUTHORIZED=
RATE_LIMIT_WINDOW_MS=
REDIS_URL=
CLIENT_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
STORAGE_ENDPOINT=
STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_FORCE_PATH_STYLE=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
INFERENCE_API_URL=