POSTGRES_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
GOOGLE_CALLBACK_URL=
PORT=
NODE_ENV=
REFRESH_TOKEN_SECRET=
DATA_ENCRYPTION_KEY=
JWT_REFRESH_EXPIRES_IN_MS=
DB_SSL_REJECT_UNAUTHORIZED=
RATE_LIMIT_WINDOW_MS=
REDIS_URL=
CLIENT_URL=